.container-contact{
    display: flex;
}

.left-div {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 139px;
}

img.image-contact{
    position: absolute;
}

.right-div {
    flex: 1;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #402571;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    font-size: 20px; /* Change this to the desired font size */
    color: #FFFFFF; /* Change this to the desired color */
    width: 260px; /* Change this to the desired width */
    height: 30px; /* Change this to the desired height */
    position:relative;
}

.input::placeholder {
    color: #FFFFFF;
    /* Change this to the desired placeholder color */
}

.input.Username {
    margin-right: 30px;
    margin-bottom: 30px;
}
.input.message{
    width: 600px;
    height: 120px;
}

.input:focus {
    background-color: #663BB5;
    transform: scale(1.05);
    box-shadow: 5px 5px 30px #302656,
        0px 0px 30px #663BB5;
}

.row-container {
    flex-direction: row;
    /* Aligns items horizontally. */
    justify-content: space-around;
    /* Distributes items evenly with space around them. */
    align-items: center;
    /* Vertically aligns items in the middle. */
    width: 90%;
}

p.title{
    font-size: 25px;
    color: #fe5058;
}

h1.title{
    font-size: 35px;
    color: white;
}

p.desription{
    font-size: 20px;
    color: rgb(170, 165, 165);
    padding-bottom:80px ;
}


button {
    position: relative;
    margin-top: 50px;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #fe5058;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    width: 230px;
}

button:hover {
    animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

button::before,
button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
    transform: translate(50%, 0) scale(1.1);
}
