@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  section{
    width: 100%;
    background-image: url("../media/hero-shpae-min.webp");
    background-position: left top;
    background-size: 532px 540px;
    background-repeat: no-repeat;
    background-color: #f1f4ff;
    padding: 0px;
    height: 100px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    margin-left: 150px;
    padding: 0px;
}

  ul {
    list-style-type:none;
    margin: 0;
    margin-right: 150px;
    padding: 0;
  }
  .menu li {
    display: inline-block;
    margin-right: 30px;
  }
  .menu li a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .menu li a:hover {
    color: #c36ecc;
  }
  .menu li a.active {
    background-color: #7733ff;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure the navbar is above other content */
  }
  
