@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');
section{
    width: 80%;
    background-color: #f1f4ff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 45pt;
    color: black;

}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 13pt;
    color: black;
}
.textHome{
    width: 600px;
    height:fit-content;
    background-image: url(..\media\hero-shpae-min.webp);
    padding-left: 80px;

}
.bghome{
    width: 50%;

}
#imghome{
    width: 503px;
    height: 503px;
    
}
.parenthome{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

/* Button get started */
.button-1 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-1 {
    padding: 0 2.6rem;
  }
}