body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #e5e5e5;
    padding-top: 50px;
}

h1.plan {
    font-size: 35px;
}

h4.plan {
    color: #745BC6;
}

.card-row {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.card-news {
    width: 380px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}