body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #FAFAFE;
    padding-top: 50px;
}

h1.plan {
    font-size: 35px;
}

h4.plan{
    color: #FE8B52;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.card-price{
    width: 300px;
    height: 460px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.card-price:hover {
    width: 310px;
    height: 470px;
    box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.2);
}


.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.card-price-monthly {
    width: 200px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.model-price{
font-size: 20px;
}

.model-color{
    background-color: #6924b8;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

span.type-modal{
    font-size: 20px;
    color: #6924b8;
    font-weight: bold;   
    padding-bottom: 15px;
}

span.price-modal{
    font-size: 50px;
    font-weight: bold;
    color: #6924b8;
    padding-bottom: 15px;
}

div.pricing-header {
    content: "";
    background: #2b2a2a;
    height: 1px;
    bottom: 0;
    right: -40px;
    opacity: .1;
    position: relative;
}

span.add-modal{
 padding-top: 20px;
 font-family: 'Courier New', Courier, monospace;
color: #2b2a2a;
opacity: .6;
padding-bottom: 20px;
}

span.attribut-modal{
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #211f1f;
        opacity: .9;
}

.button {
    margin-top: 30px;
    width: 300px;
    height: 60px;
    border-radius: 8px;
    border: 0.15em solid #6924b8;
    color: #6924b8;
    background-color: #00000000;
    transition: all 0.5s ease;
    font-weight: bold;
    font-size: 18px;
}



.button:hover {
    background-color: #6924b8;
    box-shadow: 0px 0px 10px 0px #a390b7;
    color: #fff
}
