body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

object{
width: 100%;
height: 100%;
margin: 0;
}

#home{
    height: 219.2%;
    margin: 0;
}

#portfolio {
    height: 1150px;
}

#price {
    height: 900px;
}

#news{
    height: 800px;
}

#contact{
    height: 874px;
    background-color: #663BB5;
}

#header{
    height: 154px;
}

#workprocess{
    height: 700px;
}

#footer{
    height: 400px;
    background-color: #1d1c2d;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 50px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap other elements */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #fe5058;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 20px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    width: 60px;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}